* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title {
  color: #105718;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.card-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 2px;
}

.form-control {
  border-right: none;
}

.form-control:focus {
  border-color: #cccc;
  border-right: none;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}

.input-group-text {
  background-color: transparent;
  color: #62ab60;
}

#cicle-status {
  font-size: 10px;
  display: inline-block;
  margin-right: 4px;
}

.copy {
  margin-top: 128px;
}

footer {
  background-color: #1f2821;
  color: #848484;
}

.main-content {
  background-color: #002003;
  background-image: url(../assets/images/FUNDO.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 600px;
  padding-top: 40px;
}

.detail {
  background-size: cover;
}

.card {
  background-color: #354338;
  color: #fff;
  cursor: pointer;
  animation: bounce-top 0.9s both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}